<div class="container">
  <div class="jumbotron centered-block">
    <h2>Page Sourcer</h2>

    <form class="form-inline" method="POST" id="new_url" action="<%= api_urls_path(format: :json) %>" accept-charset="UTF-8" data-remote="true">
      <div class="form-group width-100">
        <input type="url" class="first-input form-control centered-block" style="width: 100%" name="url" id="url" placeholder="http://yahoo.com" required pattern="https?://\w+.\w+.*">
      </div><br/><br/>
      <button type="submit" id="new_url_submit" class="btn btn-default">Sourcerize</button>
    </form>
  </div>
  <div id="spinner-wrapper" class="centered-block hidden">
    <canvas id="spinner" width="60" height="60"></canvas>
    <div id="spinner-message"></div>
  </div>
  <div id="panel-wrapper" class="hidden">
    <div id="result-panel" class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Result</h3>
      </div>
      <div class="panel-body"></div>
    </div>
  </div>
</div>
