<div class="container">
  <div class="summary">
    <% tags_count.keys.each_slice(4) do |slices| %>
        <div class="row">
          <% slices.each do |tag| %>
              <div class="col-xs-2 sourcer-summary-tag btn btn-link" data-tag="<%= tag %>"><%= tag %></div>
              <div class="col-xs-1" data-tag-count="<%= tags_count[tag] %>"><%= tags_count[tag] %></div>
          <% end %>
        </div>
    <% end %>
  </div>
  <div class="content">
    <%= raw content %>
  </div>
</div>