<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Page Sourcer" %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "application", :media => "all" %>

</head>
<body>

<nav class="navbar navbar-default">
  <div class="container">
    <div class="lcentered-block">
      <a  href="/">
        <%= image_tag 'cpatil-logo.png', alt: 'cpatil.com', id: 'logo' %>
      </a>
    </div>
  </div>
</nav>

<%= yield %>

<%= javascript_include_tag "application" %>

<%= yield :javascript %>
</body>
</html>
